package {packagename}.view;

import java.util.Date;
import java.util.UUID;
import java.util.List;
import java.util.ArrayList;

public class {tablenamepascal}View {
{fields}
{childtablelists}
{ctor}
{getters}
}
