package {packagename}.repository;

import org.springframework.stereotype.Repository;

import {packagename}.util.FirestoreObj;
import {packagename}.entity.{tablenamepascal};{imports}

import java.util.*;
import java.util.stream.Collectors;

@Repository
public class {tablenamepascal}Repository extends BaseRepository<{tablenamepascal}> {{repodeps}
  public {tablenamepascal}Repository() {
    super("{tablenamecamel}s");
  }  

{methods}
  @Override
  protected {tablenamepascal} createObj(Map<String, Object> values) {
    return new {tablenamepascal}(values);
  }
}
