  public boolean delete({primarycoljavatype} value) {
    FirestoreObj<{tablenamepascal}> obj = objects.get(value);
    if(obj != null && !obj.isDeleted()) {
      if(obj.isNew()) {
      objects.remove(value);
      } else {
      obj.setDeleted(true);
      obj.setUpdated(false);
      sync();
      }
      return true;
    } else {
      return false;
    }
  }

