  public {tablenamepascal} select{tablenamepascal}({primarycoljavatype} {primarycolcamel}) {
  sync();
  FirestoreObj<{tablenamepascal}> obj = objects.get({primarycolcamel});
  return obj != null && !obj.isDeleted() ? obj.getObj() : null;
  }

