  public List<{tablenamepascal}> selectOf{parenttablepascal}({parentcoljavatype} {parentprimarycamel}) {
    sync();
    return objects
      .values()
      .stream()
      .filter(obj -> obj.getObj().getPrimary().equals({parentprimarycamel}) && !obj.isDeleted())
      .map(FirestoreObj::getObj)
      .collect(Collectors.toList());
  }

