
package {packagename}.mapper;

import {packagename}.entity.{tablenamepascal};
import {packagename}.view.{tablenamepascal}View;
{childviewimports}
import java.util.List;
import java.util.ArrayList;

public class {tablenamepascal}Mapper {
{mapentity}{mapentityempties}
{mapview}
}
