
package {packagename}.mapper;

import {packagename}.entity.{tablenamepascal};
import {packagename}.view.{tablenamepascal}View;
{childviewimports}
import java.util.List;

public class {tablenamepascal}Mapper {
{mapentity}{mapentitynulls}
{mapview}
}
