  public static {tablenamepascal} map{tablenamepascal}View({tablenamepascal}View {tablenamecamel}View) {
		{tablenamepascal} {tablenamecamel} = new {tablenamepascal}();
{colsetters}
		return {tablenamecamel};
	}