package {packagename}.repository;

import org.springframework.stereotype.Repository;

import javax.persistence.*;

import {packagename}.entity.{tablenamepascal};

import java.util.List;

{modelimports}
@Repository
public class {tablenamepascal}Repository {
	@PersistenceContext
	private EntityManager em;
{methods}
}
