	public boolean delete({javatype} {primarykeynamecamel}) {
		StoredProcedureQuery q = em.createNamedStoredProcedureQuery("delete{tablenamepascal}");
		q.setParameter("{primarykeyname}", {primarykeysetparam});
		try {
			q.execute();
			return true;
		} catch (Exception ex) {
			return false;
		}
	}

