	public boolean delete({javatype} value) {
		StoredProcedureQuery q = em.createNamedStoredProcedureQuery("delete{tablenamepascal}");
		q.setParameter("{primarykeyname}", value);
		try {
			q.execute();
			return true;
		} catch (Exception ex) {
			return false;
		}
	}
