	public {tablenamepascal} selectBy{colnamepascal}({coljavatype} {colnamecamel}) {
  	StoredProcedureQuery q = em.createNamedStoredProcedureQuery("select{tablenamepascal}By{colnamepascal}");
  	q.setParameter("email", {colsetparam});
  	try {
  		return ({tablenamepascal})q.getSingleResult();
		} catch (Exception ex) {
  		return null;
		}
	}

