  public List<{tablenamepascal}> select{methodsuffix}({arguments}) {
		StoredProcedureQuery q = em.createNamedStoredProcedureQuery("select{methodsuffix}");{setparams}
		List<{tablenamepascal}> result = (List<{tablenamepascal}>)q.getResultList();
		return result;
	}
