	public boolean update({tablenamepascal} {tablenamecamel}) {
		StoredProcedureQuery q = em.createNamedStoredProcedureQuery("update{tablenamepascal}");
		{parameters}
		try {
			q.execute();
			return true;
		} catch (Exception ex) {
			return false;
		}
	}
