package {packagename}.service;

import org.springframework.stereotype.Service;

import org.springframework.beans.factory.annotation.Autowired;

import {packagename}.entity.{tablenamepascal};
import {packagename}.view.{tablenamepascal}View;
import {packagename}.mapper.{tablenamepascal}Mapper;
import {packagename}.repository.{tablenamepascal}Repository;
{imports}

import java.util.List;
import java.util.stream.Collectors;
import java.util.UUID;

@Service
public class {tablenamepascal}Service {
{repodep}
{servicedeps}
{methods}
}
