    for({tablenamepascal}View x: {childtablecamel}Service.select{childtablepascal}s(object.get{primarypascal}())) {
				{childtablecamel}Service.delete(x.get{childprimarypascal}(), object.get{primarypascal}());
			}