      for({joinedtablenamepascal}View x: {childtablenamecamel}Service.select{childtablenamepascal}s(object.get{primarykeypascal}())) {
				{childtablenamecamel}Service.delete(object.get{primarykeypascal}(), x.get{joinedkeypascal}());
			}