	public {tablenamepascal}View insert({tablenamepascal}View new{tablenamepascal}) { 
		{tablenamepascal} dbResult = repo.insert({tablenamepascal}Mapper.map{tablenamepascal}View(new{tablenamepascal}));
		{tablenamepascal}View result = {tablenamepascal}Mapper.map{tablenamepascal}(dbResult);
		return result;
	}
