	public List<{resulttablenamepascal}View> select{tablenamespascal}s(int {pk1namecamel}) {
		List<{resulttablenamepascal}> dbResult = repo.select{tablenamespascal}sOf{joinednamepascal}({pk1namecamel});
		List<{resulttablenamepascal}View> result = dbResult.stream()
			.map(x -> {
				return {resulttablenamepascal}Mapper.map{resulttablenamepascal}(x);
			})
			.collect(Collectors.toList());
		return result;
	}
