	public List<{tablenamepascal}View> selectAll() {
		List<{tablenamepascal}> dbResult = repo.selectAll{tablenamepascal}s();
		List<{tablenamepascal}View> result = dbResult
			.stream()
			.map(x -> {{viewlists}
				return {tablenamepascal}Mapper.map{tablenamepascal}(x{childtables});
			})
			.collect(Collectors.toList());
		return result;
	}
