	public {tablenamepascal}View selectByPk({javatype} value) {
		{tablenamepascal} dbResult = repo.selectByPk(value);
		if(dbResult == null) {
			return null;
		}{viewlists}
		{tablenamepascal}View result = {tablenamepascal}Mapper.map{tablenamepascal}(dbResult{childtables});
		return result;
	}
