	public boolean update({tablenamepascal}View updated{tablenamepascal}) { 
		boolean result = repo.update({tablenamepascal}Mapper.map{tablenamepascal}View(updated{tablenamepascal}));
		return result;
	}
