export function delete{tablenamepascal}({pk1namecamel}: {pk1tstype}, {pk2namecamel}: {pk2tstype}, onSuccess: (data: any) => void, onError: (err: any) => void){
	const url = `${SERVER_END_POINT}/api/{tablenamelower}s/${{pk1namecamel}}/${{pk2namecamel}}`;
 	axios.delete(url)
		.then(result => {
			onSuccess(result.data);
		})
		.catch(err => {
			onError(err);
		});
};
