export function delete{tablenamepascal}({primarycolnamecamel}: {tstype}, onSuccess: (data: any) => void, onError: (err: any) => void) {
	const url = `${SERVER_END_POINT}/api/{tablenamelower}s/${{primarycolnamecamel}}`;
	axios.delete(url)
		.then(result => {
			onSuccess(result.data);
		})
		.catch(err => {
			onError(err);
		});
};
