export function get{tablenamepascal}ByPk({primarycolnamecamel}: string, onSuccess: (data: any) => void, onError: (err: any) => void) {
	const url = `${SERVER_END_POINT}/api/{tablenamelower}s/${primarycolnamecamel}`;
	axios.get(url)
		.then(result => {
			onSuccess(result);
		})
		.catch(err => {
			onError(err);
		});
};
