export function getOf{parenttablenamepascal}({parentcolnamecamel}: {tstype}, onSuccess: (data: any) => void, onError: (err: any) => void) {
	const url = `${SERVER_END_POINT}/api/{tablenamelower}s/${{parentcolnamecamel}}`;
	axios.get(url)
		.then(result => {
			onSuccess(result.data);
		})
		.catch(err => {
			onError(err);
		})
}
