export function get{tablenamepascal}sOf{primarytablenamepascal}({primarycolumnnamecamel}: {tstype}, onSuccess: (data: any) => void, onError: (err: any) => void) {
	const url = `${SERVER_END_POINT}/api/{tablenamelower}s/for{primarytablenamepascal}/${{primarycolumnnamecamel}}`;
	axios.get(url)
		.then(result => {
			onSuccess(result.data);
		})
		.catch(err => {
			onError(err);
		});
};
