export function get{childtablepascal}sFor{tablenamepascal}({colnamecamel}, onSuccess, onError) {
	const url = `${SERVER_END_POINT}/api/{childtablelower}s/for{tablenamepascal}/${{colnamecamel}}`;
	return axios.get(url)
		.then(result => {
			onSuccess(result);
		})
		.catch(err => {
			onError(err);
		});
};
