using {rootname}.Mappers;
using {rootname}.Repositories;
using {rootname}.Views;
using System;
using System.Collections.Generic;
using System.Linq;

namespace {rootname}.Services
{
    public class {tablepascal}Service : I{tablepascal}Service
    {
        private readonly I{tablepascal}Repository repo;

        public {tablepascal}Service(I{tablepascal}Repository repo)
        {
            this.repo = repo;
        }

{delete}

{insert}

{selectall}

{selectbyid}

{selectbyunique}

{selectforparent}

{update}
    }
}
