using CodeGeneratorTemplates.Views;
using System;
using System.Collections.Generic;

namespace {rootname}.Services
{
    public interface I{tablepascal}Service
    {
        {selectbyid}

        {insert}

        {selectall}

{selectforparent}

{selectbyunique}

        {delete}

        {update}
    }
}
