using {rootname}.Views;
using System;
using System.Collections.Generic;

namespace {rootname}.Services
{
    public interface I{tablepascal}Service
    {
        {tablepascal}View Insert({tablepascal}View view);

        IEnumerable<{secondarytablepascal}View> Select{tablepascal}s(Guid {primarycamel});

        bool Delete(Guid {primarycamel}, Guid {secondarycamel});
    }
}
