public IEnumerable<{tablepascal}View> SelectFor{parentpascal}(Guid {parentprimarycamel})
        {
            return repo.SelectFor{parentpascal}({parentprimarycamel})
                .Select(e => e.ToView());
        }