delimiter //
create procedure sp_select{parenttablenamepascal}{childtablenamepascal}s
(in {parentprimarykey} integer)
begin
select * from {childtablename} t1 where t1.{parentprimarykey} = {parentprimarykey};
end //
delimiter ;
