delimiter //
create procedure sp_select{tablenamepascal}sOf{primarytablenamepascal}
(in {primarycolumnname}{primarycolumnname}{primarycolumnname} integer)
begin
select * from {primarytablename} t1 where t1.{primarycolumnname} in 
(select {secondarycolumnname} from {tablename} where t2.{primarycolumnname} = {primarycolumnname});
end //
delimiter ;
