delimiter //
create procedure sp_selectOf{parenttablenamepascal}
(in {parentprimarykey} integer)
begin
select * from {childtablename} t1 where t1.{parentprimarykey} = {parentprimarykey};
end //
delimiter ;
