	@RequestMapping(value = "", method = RequestMethod.POST)
	public ResponseEntity<?> insert(@RequestBody {tablepascal}View new{tablepascal}) { 
		{tablepascal}View result = service.insert(new{tablepascal});
		if (result == null) {
			return ResponseEntity.status(400).body("Could not create new {tablepascal}");
		}
		return ResponseEntity.ok(result);
	}