package {rootname}.controller;

import org.springframework.http.ResponseEntity;

import org.springframework.stereotype.Controller;

import org.springframework.beans.factory.annotation.Autowired;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.List;
import java.util.UUID;

import {rootname}.view.{tablepascal}View;
import {rootname}.service.{tablepascal}Service;

@RequestMapping(value = "/api/agentcollaborators")
@Controller
public class {tablepascal}Controller {
	@Autowired
	private {tablepascal}Service service;
  
{insert}

{selectforparent}

{delete}
}
