  @RequestMapping(value = "", method = RequestMethod.GET)
	public ResponseEntity<?> selectAll() {
		List<{tablepascal}View> result = service.selectAll();
		if (result.size() == 0) {
			return ResponseEntity.status(404).body("No results");
		}
		return ResponseEntity.ok(result);
	}