package {packagename}.repository;

import {packagename}.entity.{tablenamepascal};
import org.springframework.stereotype.Repository;

import java.util.List;
import java.util.Optional;
import java.util.UUID;
import java.util.stream.Collectors;

@Repository
public class {tablenamepascal}Repository extends BaseRepository<{tablenamepascal}> {{additionalcollections}
  public {tablenamepascal}Repository() {
    super("{tablenamelower}s");
  }
  
{methods}
}
