  public boolean delete({keyjavatype} value) {
    Optional<{tablenamepascal}> obj = collections.get(collectionName)
        .values()
        .stream()
        .filter(x -> x.getPrimary().equals(value))
        .map(x -> ({tablenamepascal})x)
        .findFirst();
    if(obj.isPresent()) {
      collections.get(collectionName).remove(value);
      return true;
    }
    return false;
  }

