  public {tablenamepascal} insert({tablenamepascal} {tablenamecamel}) {{setprimarykey}
    collections.get(collectionName)
        .put({setmapkey}, {tablenamecamel});
    return {tablenamecamel};
  }

