  public List<{tablenamepascal}> selectAll() {
    return collections.get(collectionName).values()
        .stream()
        .map(x -> ({tablenamepascal})x)
        .collect(Collectors.toList());
  }

