package {packagename}.entity;

import {packagename}.util.Mappable;

import java.util.HashMap;
import java.util.Map;
import java.util.UUID;

public class {tablenamepascal} implements Mappable {{fields}

  public {tablenamepascal}(Map<String, Object> values) {{deserializefrommap}
  }

{getters}
{setters}
  @Override
  public Map<String, Object> toMap() {
    Map<String, Object> values = new HashMap<>();{serializetomap}
    return values;
  }

  @Override
  public {primarycoljavatype} getPrimary() {
    return {primarycolcamel};
  }
}
