package {packagename}.entity;

import javax.persistence.*;

import java.util.Date;
import java.util.UUID;

@Entity
@Table(name = "{tablename}")
@NamedStoredProcedureQueries({
{namedstoredprocedures}
})
public class {tablenamepascal} {
{primaryfield}
{fields}
{getters}
{setters}
}
