package {packagename}.entity;

import javax.persistence.*;

import java.util.Date;
import java.util.UUID;

import java.io.Serializable;

@Entity
@IdClass({tablenamepascal}.{tablenamepascal}PK.class)
@Table(name = "{tablename}")
@NamedStoredProcedureQueries({
{namedstoredprocedures}
})
public class {tablenamepascal} {
{primaryfield1}
{primaryfield2}
{getters}
{setters}
	public static class {tablenamepascal}PK implements Serializable {
		protected {key1javatype} {key1camel};
		protected {key2javatype} {key2camel};

		public {tablenamepascal}PK() {
		}

		public {tablenamepascal}PK({key1javatype} {key1camel}, {key2javatype} {key2camel}) {
			this.{key1camel} = {key1camel};
			this.{key2camel} = {key2camel};
		}
	}
}
