@NamedStoredProcedureQuery(
	name = "select{tablenamepascal}sOf{parenttablenamepascal}",
	procedureName = "sp_select{tablenamepascal}sOf{parenttablenamepascal}",
	resultClasses = {childtablenamepascal}.class,
	parameters = {
	@StoredProcedureParameter(
		mode = ParameterMode.IN,
		type = Integer.class,
		name = "{parentprimarykey}")
	}
),
