@NamedStoredProcedureQuery(
	name = "delete{tablenamepascal}",
	procedureName = "sp_delete{tablenamepascal}",
	parameters = {
	@StoredProcedureParameter(
		mode = ParameterMode.IN,
		type = {primarykeywrapper}.class,
		name = "{primarykeyname}")
	}
),
