using System;
using System.Linq;
using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using {rootname}.Views;
using {rootname}.Services;

namespace {rootname}.Controllers
{
    [Route("api/{tablelower}s")]
    [ApiController]
    public class {tablepascal}Controller : ControllerBase
    {
        private readonly I{tablepascal}Service service;

        public {tablepascal}Controller(I{tablepascal}Service service)
        {
            this.service = service;
        }

{getbyid}

{getforparent}

{getall}

{getbyunique}

{post}

{delete}

{put}
    }
}
