        [HttpDelete("{id}")]
        public ActionResult<string> Delete{tablepascal}([FromRoute] string id)
        {
            Guid {primarycamel};
            if(Guid.TryParse(id, out {primarycamel}))
            {
                if(service.Delete({primarycamel}))
                {
                    return Ok("{tablepascal} removed");
                }
                return NotFound("{tablepascal} does not exist");
            }
            return BadRequest("Malformed id");
        }