        [HttpGet("for-user/{id}")]
        public ActionResult<IEnumerable<{tablepascal}View>> GetForUser([FromRoute] string id)
        {
            Guid {parentpascal};
            if(Guid.TryParse(id, out {parentpascal}))
            {
                return Ok(service.SelectForUser({parentpascal}));
            }
            return BadRequest("Malformed id");
        }