        [HttpGet("{id}")]
        public ActionResult<UserView> Get{tablepascal}sFor{primarytablepascal}([FromRoute] string id)
        {
            Guid {primarycamel};
            if (Guid.TryParse(id, out {primarycamel}))
            {
                return Ok(service.Select{tablepascal}s({primarycamel}));
            }
            return BadRequest("Malformed id");
        }