package {packagename}.entity;

import {packagename}.util.RepoObj;

import java.util.UUID;

public class {tablenamepascal} implements RepoObj {
{fields}
{getters}
{setters}
  @Override
  public UUID getPrimary() {
      return {key1namecamel};
  }
}
