        public bool Delete(Guid {primarycamel})
        {
            using var context = new GidContext(config);
            var e = context.{tablepascal}s
                .Where(x => x.{primarypascal} == {primarycamel})
                .FirstOrDefault();
            if(e != null)
            {
                context.Remove(e);
                context.SaveChanges();
            }
            return true;
        }