        public {tablepascal} Insert({tablepascal} entity)
        {
            using var context = new {rootname}Context(config);
            context.{tablepascal}s.Add(entity);
            context.SaveChanges();
            return entity;
        }