        public {tablepascal} SelectById(Guid {primarycamel})
        {
            using var context = new {rootname}Context(config);
            var e = context.{tablepascal}s
                .Where(x => x.{primarypascal} == {primarycamel}){childlists}
                .FirstOrDefault();
            if(e != null)
            {
                return e;
            }
            throw new InvalidOperationException("{tablepascal} not found");
        }