        public {tablepascal} SelectBy{columnpascal}(string {columncamel})
        {
            using var context = new {rootname}Context(config);
            var e = context.{tablepascal}s
                .Where(x => x.{columnpascal} == {columncamel}){childlists}
                .FirstOrDefault();
            if(e != null)
            {
                return e;
            }
            throw new InvalidOperationException("{tablepascal} not found");
        }