        public IEnumerable<{tablepascal}> SelectFor{parentpascal}(Guid {primarycamel})
        {
            using var context = new {rootname}Context(config);
            var result = context.{tablepascal}s
                .Where(x => x.{primarypascal} == {primarycamel}){childlists}
                .ToList();
            return result;
        }