        public bool Update({tablepascal} entity)
        {
            using var context = new {rootname}Context(config);
            var e = context.{tablepascal}s
                .Where(x => x.{primarypascal} == entity.{primarypascal})
                .FirstOrDefault();
            if(e != null)
            {
                context.{tablepascal}s.Update(entity);
                context.SaveChanges();
                return true;
            }
            return false;
        }