using {rootname}.Entities;
using System;
using System.Collections.Generic;
using System.Linq;

namespace {rootname}.Repositories.InMemory
{
    public class {tablepascal}Repository : BaseRepository<{tablepascal}>, I{tablepascal}Repository
    {
{childrepos}
        public {tablepascal}Repository({childrepoargs}DbContext context)
            : base(context)
        {
            collectionName = "{tablelower}";{childrepoassigns}
            if (!collections.ContainsKey(collectionName))
            {
                collections[collectionName] = new List<{tablepascal}>();
            }
        }

{selectbyid}

{selectbyunique}

{insert}

{selectall}

{selectforparent}

{update}

{delete}

    }
}
