using System;
using System.Collections;
using System.Collections.Generic;

namespace {rootname}.Repositories.InMemory
{
    public class DbContext
    {
        public Dictionary<string, IList> collections = new Dictionary<string, IList>();
    }
}
