        public bool Delete(Guid {primarycolumncamel})
        {
            var entityToRemove = Get<{tablepascal}>(collectionName).Where(e => e.{primarycolumnpascal} == {primarycolumncamel}).FirstOrDefault();
            if(entityToRemove == null)
            {
                return false;
            }{deletechildren}
            Set(Get<{tablepascal}>(collectionName).Where(e => e.{primarycolumnpascal} != {primarycolumncamel}).ToList());
            return true;
        }