        public IEnumerable<{tablepascal}> SelectAll()
        {
            var results = Get<{tablepascal}>(collectionName);
            foreach(var result in results) 
            {{childlists}
            }
            return results;
        }