        public {tablepascal} SelectBy{columnpascal}(string {columncamel})
        {
            var result = Get<{tablepascal}>(collectionName).Where(e => e.{columnpascal} == {columncamel}).FirstOrDefault();
            if(result == null)
            {
                throw new InvalidOperationException("{tablepascal} not found");
            }{childlists}
            return result;
        }