        public {tablepascal} SelectById(Guid {primarycolumncamel})
        {
            var result = Get<{tablepascal}>(collectionName).Where(e => e.Id == id);
            if (result.Count() == 0)
            {
                throw new InvalidOperationException("{tablepascal} not found");
            }
            return result.First();
        }