        public IEnumerable<{tablepascal}> SelectFor{parentpascal}(Guid {parentprimarycamel})
        {
            return Get<{tablepascal}>(collectionName).Where(e => e.{parentprimarypascal} == {parentprimarycamel});
        }