        public {tablepascal} SelectById(Guid {primarycolumncamel})
        {
            var result = Get<{tablepascal}>(collectionName).Where(e => e.{primarycolumnpascal} == {primarycolumncamel}).FirstOrDefault();
            if (result == null)
            {
                throw new InvalidOperationException("{tablepascal} not found");
            }{childlists}
            return result;
        }