        public IEnumerable<{tablepascal}> SelectFor{parentpascal}(Guid {parentprimarycamel})
        {
            var results = Get<{tablepascal}>(collectionName).Where(e => e.{parentprimarypascal} == {parentprimarycamel}).ToList();
            foreach(var result in results) 
            {{childlists}
            }
            return results;
        }